other-sm-datasets/extracted-elements/dataset-yam/currency/xcurrencies2.xml

<s:schema elementFormDefault="qualified" targetNamespace="http://www.xignite.com/services/" xmlns:s="http://www.w3.org/2001/XMLSchema">

<s:element name="ListCurrencies">
<s:complexType/>
</s:element>

<s:element name="ListCurrenciesResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ListCurrenciesResult" type="tns:CurrencyList"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="CurrencyList">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Currencies" type="tns:ArrayOfCurrencyItem"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:complexType name="Common">

<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Outcome" type="tns:OutcomeTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Identity" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Delay" type="s:double"/>
</s:sequence>
</s:complexType>

<s:simpleType name="OutcomeTypes">

<s:restriction base="s:string">
<s:enumeration value="Success"/>
<s:enumeration value="SystemError"/>
<s:enumeration value="RequestError"/>
<s:enumeration value="RegistrationError"/>
</s:restriction>
</s:simpleType>

<s:complexType name="ArrayOfCurrencyItem">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CurrencyItem" nillable="true" type="tns:CurrencyItem"/>
</s:sequence>
</s:complexType>

<s:complexType name="CurrencyItem">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Plural" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Countries" type="tns:ArrayOfCountry"/>
</s:sequence>
</s:complexType>

<s:complexType name="ArrayOfCountry">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country"/>
</s:sequence>
</s:complexType>

<s:complexType name="Country">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
</s:sequence>
</s:complexType>
<s:element name="Header" type="tns:Header"/>

<s:complexType name="Header">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Tracer" type="s:string"/>
</s:sequence>
</s:complexType>

<s:element name="ConvertRealTimeValue">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="From" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="ConvertRealTimeValueResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ConvertRealTimeValueResult" type="tns:ExchangeConversion"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="ExchangeConversion">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="ExchangeRate" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Result" type="s:double"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:complexType name="Currency">

<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Symbol" type="tns:Currencies"/>
<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
</s:sequence>
</s:complexType>

<s:simpleType name="Currencies">

<s:restriction base="s:string">
<s:enumeration value="USD"/>
<s:enumeration value="AED"/>
<s:enumeration value="AFA"/>
<s:enumeration value="AFN"/>
<s:enumeration value="ALL"/>
<s:enumeration value="AMD"/>
<s:enumeration value="ANG"/>
<s:enumeration value="AOA"/>
<s:enumeration value="ARA"/>
<s:enumeration value="ARE"/>
<s:enumeration value="ARS"/>
<s:enumeration value="ATS"/>
<s:enumeration value="AUD"/>
<s:enumeration value="AUN"/>
<s:enumeration value="AWG"/>
<s:enumeration value="AZM"/>
<s:enumeration value="BAM"/>
<s:enumeration value="BBD"/>
<s:enumeration value="BDT"/>
<s:enumeration value="BEF"/>
<s:enumeration value="BEL"/>
<s:enumeration value="BGL"/>
<s:enumeration value="BGN"/>
<s:enumeration value="BHD"/>
<s:enumeration value="BIF"/>
<s:enumeration value="BMD"/>
<s:enumeration value="BND"/>
<s:enumeration value="BOB"/>
<s:enumeration value="BOV"/>
<s:enumeration value="BRC"/>
<s:enumeration value="BRE"/>
<s:enumeration value="BRI"/>
<s:enumeration value="BRL"/>
<s:enumeration value="BRR"/>
<s:enumeration value="BSD"/>
<s:enumeration value="BTN"/>
<s:enumeration value="BWP"/>
<s:enumeration value="BYR"/>
<s:enumeration value="BZD"/>
<s:enumeration value="CAD"/>
<s:enumeration value="CDF"/>
<s:enumeration value="CHF"/>
<s:enumeration value="CHK"/>
<s:enumeration value="CLP"/>
<s:enumeration value="CNY"/>
<s:enumeration value="COP"/>
<s:enumeration value="CRC"/>
<s:enumeration value="CSD"/>
<s:enumeration value="CUP"/>
<s:enumeration value="CVE"/>
<s:enumeration value="CYP"/>
<s:enumeration value="CZK"/>
<s:enumeration value="DEM"/>
<s:enumeration value="DJF"/>
<s:enumeration value="DKK"/>
<s:enumeration value="DOP"/>
<s:enumeration value="DOE"/>
<s:enumeration value="DOW"/>
<s:enumeration value="DZD"/>
<s:enumeration value="ECS"/>
<s:enumeration value="EEK"/>
<s:enumeration value="EGP"/>
<s:enumeration value="ERN"/>
<s:enumeration value="ESP"/>
<s:enumeration value="ETB"/>
<s:enumeration value="EUR"/>
<s:enumeration value="FIM"/>
<s:enumeration value="FJD"/>
<s:enumeration value="FKP"/>
<s:enumeration value="FRF"/>
<s:enumeration value="FRN"/>
<s:enumeration value="GBP"/>
<s:enumeration value="GEL"/>
<s:enumeration value="GGP"/>
<s:enumeration value="GHC"/>
<s:enumeration value="GIP"/>
<s:enumeration value="GMD"/>
<s:enumeration value="GNF"/>
<s:enumeration value="GRD"/>
<s:enumeration value="GTQ"/>
<s:enumeration value="GYD"/>
<s:enumeration value="HKD"/>
<s:enumeration value="HNL"/>
<s:enumeration value="HRD"/>
<s:enumeration value="HRK"/>
<s:enumeration value="HTG"/>
<s:enumeration value="HUF"/>
<s:enumeration value="IDR"/>
<s:enumeration value="IEP"/>
<s:enumeration value="ILS"/>
<s:enumeration value="IMP"/>
<s:enumeration value="INR"/>
<s:enumeration value="IQD"/>
<s:enumeration value="IRR"/>
<s:enumeration value="ISK"/>
<s:enumeration value="ITL"/>
<s:enumeration value="JEP"/>
<s:enumeration value="JMD"/>
<s:enumeration value="JOD"/>
<s:enumeration value="JPY"/>
<s:enumeration value="KES"/>
<s:enumeration value="KGS"/>
<s:enumeration value="KHR"/>
<s:enumeration value="KMF"/>
<s:enumeration value="KPW"/>
<s:enumeration value="KRU"/>
<s:enumeration value="KRW"/>
<s:enumeration value="KWD"/>
<s:enumeration value="KYD"/>
<s:enumeration value="KZT"/>
<s:enumeration value="LAK"/>
<s:enumeration value="LBP"/>
<s:enumeration value="LKR"/>
<s:enumeration value="LRD"/>
<s:enumeration value="LSL"/>
<s:enumeration value="LTL"/>
<s:enumeration value="LUF"/>
<s:enumeration value="LVL"/>
<s:enumeration value="LYD"/>
<s:enumeration value="M5P"/>
<s:enumeration value="MAD"/>
<s:enumeration value="MAL"/>
<s:enumeration value="MDL"/>
<s:enumeration value="MFG"/>
<s:enumeration value="MGA"/>
<s:enumeration value="MKD"/>
<s:enumeration value="MMK"/>
<s:enumeration value="MNT"/>
<s:enumeration value="MOP"/>
<s:enumeration value="MRO"/>
<s:enumeration value="MTL"/>
<s:enumeration value="MTP"/>
<s:enumeration value="MUR"/>
<s:enumeration value="MVR"/>
<s:enumeration value="MWK"/>
<s:enumeration value="MXN"/>
<s:enumeration value="MXP"/>
<s:enumeration value="MXV"/>
<s:enumeration value="MYR"/>
<s:enumeration value="MZM"/>
<s:enumeration value="MZN"/>
<s:enumeration value="NAD"/>
<s:enumeration value="NBL"/>
<s:enumeration value="NGN"/>
<s:enumeration value="NIC"/>
<s:enumeration value="NIO"/>
<s:enumeration value="NLG"/>
<s:enumeration value="NOK"/>
<s:enumeration value="NPR"/>
<s:enumeration value="NSO"/>
<s:enumeration value="NZD"/>
<s:enumeration value="OMR"/>
<s:enumeration value="OSO"/>
<s:enumeration value="PAB"/>
<s:enumeration value="PEI"/>
<s:enumeration value="PEN"/>
<s:enumeration value="PES"/>
<s:enumeration value="PGK"/>
<s:enumeration value="PHP"/>
<s:enumeration value="PKR"/>
<s:enumeration value="PLN"/>
<s:enumeration value="PLZ"/>
<s:enumeration value="PTE"/>
<s:enumeration value="PYG"/>
<s:enumeration value="QAR"/>
<s:enumeration value="ROL"/>
<s:enumeration value="RON"/>
<s:enumeration value="RUB"/>
<s:enumeration value="RUR"/>
<s:enumeration value="RWF"/>
<s:enumeration value="SAR"/>
<s:enumeration value="SBD"/>
<s:enumeration value="SCR"/>
<s:enumeration value="SDD"/>
<s:enumeration value="SDP"/>
<s:enumeration value="SDR"/>
<s:enumeration value="SEK"/>
<s:enumeration value="SGD"/>
<s:enumeration value="SHP"/>
<s:enumeration value="SIT"/>
<s:enumeration value="SKK"/>
<s:enumeration value="SLL"/>
<s:enumeration value="SOS"/>
<s:enumeration value="SPL"/>
<s:enumeration value="SRG"/>
<s:enumeration value="STD"/>
<s:enumeration value="SUR"/>
<s:enumeration value="SVC"/>
<s:enumeration value="SYP"/>
<s:enumeration value="SZL"/>
<s:enumeration value="THB"/>
<s:enumeration value="TJR"/>
<s:enumeration value="TJS"/>
<s:enumeration value="TMM"/>
<s:enumeration value="TND"/>
<s:enumeration value="TOP"/>
<s:enumeration value="TRL"/>
<s:enumeration value="TRY"/>
<s:enumeration value="TTD"/>
<s:enumeration value="TVD"/>
<s:enumeration value="TWD"/>
<s:enumeration value="TZS"/>
<s:enumeration value="UAH"/>
<s:enumeration value="UGX"/>
<s:enumeration value="UNK"/>
<s:enumeration value="UYP"/>
<s:enumeration value="UYU"/>
<s:enumeration value="UZS"/>
<s:enumeration value="VEB"/>
<s:enumeration value="VEF"/>
<s:enumeration value="VND"/>
<s:enumeration value="VRL"/>
<s:enumeration value="VRN"/>
<s:enumeration value="VUV"/>
<s:enumeration value="WST"/>
<s:enumeration value="XAF"/>
<s:enumeration value="XAG"/>
<s:enumeration value="XAU"/>
<s:enumeration value="XCD"/>
<s:enumeration value="XDR"/>
<s:enumeration value="XEU"/>
<s:enumeration value="XOF"/>
<s:enumeration value="XPD"/>
<s:enumeration value="XPF"/>
<s:enumeration value="XPT"/>
<s:enumeration value="YER"/>
<s:enumeration value="YUD"/>
<s:enumeration value="YUM"/>
<s:enumeration value="ZAL"/>
<s:enumeration value="ZAR"/>
<s:enumeration value="ZMK"/>
<s:enumeration value="ZRN"/>
<s:enumeration value="ZRZ"/>
<s:enumeration value="ZWD"/>
<s:enumeration value="BAD"/>
<s:enumeration value="NOCURRENCY"/>
</s:restriction>
</s:simpleType>

<s:element name="ConvertHistoricalValue">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="From" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="ConvertHistoricalValueResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ConvertHistoricalValueResult" type="tns:ExchangeConversion"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetRealTimeForwardRate">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="From" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetRealTimeForwardRateResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetRealTimeForwardRateResult" type="tns:ForwardRate"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="ForwardRate">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Bid" type="s:double"/>
<s:element minOccurs="0" maxOccurs="1" name="BidTime" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Ask" type="s:double"/>
<s:element minOccurs="0" maxOccurs="1" name="AskTime" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Factor" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Forwards" type="tns:ArrayOfForward"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:complexType name="ArrayOfForward">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="Forward" nillable="true" type="tns:Forward"/>
</s:sequence>
</s:complexType>

<s:complexType name="Forward">

<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ForwardTypes"/>
<s:element minOccurs="1" maxOccurs="1" name="Bid" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Ask" type="s:double"/>
</s:sequence>
</s:complexType>

<s:simpleType name="ForwardTypes">

<s:restriction base="s:string">
<s:enumeration value="Overnight"/>
<s:enumeration value="TomorrowNext"/>
<s:enumeration value="SpotNext"/>
<s:enumeration value="OneWeek"/>
<s:enumeration value="TwoWeek"/>
<s:enumeration value="ThreeWeek"/>
<s:enumeration value="OneMonth"/>
<s:enumeration value="TwoMonth"/>
<s:enumeration value="ThreeMonth"/>
<s:enumeration value="FourMonth"/>
<s:enumeration value="FiveMonth"/>
<s:enumeration value="SixMonth"/>
<s:enumeration value="SevenMonth"/>
<s:enumeration value="EightMonth"/>
<s:enumeration value="NineMonth"/>
<s:enumeration value="TenMonth"/>
<s:enumeration value="ElevenMonth"/>
<s:enumeration value="OneYear"/>
<s:enumeration value="TwoYear"/>
<s:enumeration value="ThreeYear"/>
<s:enumeration value="FourYear"/>
<s:enumeration value="FiveYear"/>
<s:enumeration value="SixYear"/>
<s:enumeration value="SevenYear"/>
<s:enumeration value="TenYear"/>
</s:restriction>
</s:simpleType>

<s:element name="GetRealTimeCrossRateAsString">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="From" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetRealTimeCrossRateAsStringResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetRealTimeCrossRateAsStringResult" type="tns:CrossRate"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="CrossRate">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:QuoteTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Bid" type="s:double"/>
<s:element minOccurs="0" maxOccurs="1" name="BidTime" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Ask" type="s:double"/>
<s:element minOccurs="0" maxOccurs="1" name="AskTime" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:simpleType name="QuoteTypes">

<s:restriction base="s:string">
<s:enumeration value="RealTime"/>
<s:enumeration value="Delayed15Minutes"/>
<s:enumeration value="Delayed20Minutes"/>
<s:enumeration value="NotAvailable"/>
</s:restriction>
</s:simpleType>

<s:element name="GetLatestCrossRate">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="From" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetLatestCrossRateResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetLatestCrossRateResult" type="tns:CrossRate"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetLatestCrossRates">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="From" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Tos" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetLatestCrossRatesResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetLatestCrossRatesResult" type="tns:ArrayOfCrossRate"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="ArrayOfCrossRate">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CrossRate" nillable="true" type="tns:CrossRate"/>
</s:sequence>
</s:complexType>

<s:element name="GetRealTimeCrossRate">

<s:complexType>

<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="From" type="tns:Currencies"/>
<s:element minOccurs="1" maxOccurs="1" name="To" type="tns:Currencies"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetRealTimeCrossRateResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetRealTimeCrossRateResult" type="tns:CrossRate"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRateTables">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRateTablesResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRateTablesResult" type="tns:ArrayOfCrossRateTable"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="ArrayOfCrossRateTable">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CrossRateTable" nillable="true" type="tns:CrossRateTable"/>
</s:sequence>
</s:complexType>

<s:complexType name="CrossRateTable">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Lines" type="tns:ArrayOfCrossRateTableLine"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:complexType name="ArrayOfCrossRateTableLine">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CrossRateTableLine" nillable="true" type="tns:CrossRateTableLine"/>
</s:sequence>
</s:complexType>

<s:complexType name="CrossRateTableLine">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="ExchangeRates" type="tns:ArrayOfExchangeRate"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:complexType name="ArrayOfExchangeRate">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="ExchangeRate" nillable="true" type="tns:ExchangeRate"/>
</s:sequence>
</s:complexType>

<s:complexType name="ExchangeRate">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="To" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:double"/>
<s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:element name="GetHistoricalCrossRateTablesBidAsk">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRateTablesBidAskResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRateTablesBidAskResult" type="tns:ArrayOfCrossRateTableWithBidAsk"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="ArrayOfCrossRateTableWithBidAsk">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CrossRateTableWithBidAsk" nillable="true" type="tns:CrossRateTableWithBidAsk"/>
</s:sequence>
</s:complexType>

<s:complexType name="CrossRateTableWithBidAsk">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Lines" type="tns:ArrayOfCrossRateTableLineWithBidAsk"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:complexType name="ArrayOfCrossRateTableLineWithBidAsk">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CrossRateTableLineWithBidAsk" nillable="true" type="tns:CrossRateTableLineWithBidAsk"/>
</s:sequence>
</s:complexType>

<s:complexType name="CrossRateTableLineWithBidAsk">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="ExchangeRates" type="tns:ArrayOfCrossRate"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:element name="GetCurrencyReport">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="From" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetCurrencyReportResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetCurrencyReportResult" type="tns:Report"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="Report">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="To" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Lines" type="tns:ArrayOfLine"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:complexType name="ArrayOfLine">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="Line" nillable="true" type="tns:Line"/>
</s:sequence>
</s:complexType>

<s:complexType name="Line">

<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="LineType" type="tns:LineTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="From" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value1" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value2" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value3" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value4" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value5" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value6" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value7" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value8" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value9" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value10" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value11" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value12" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value13" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value14" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value15" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value16" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value17" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value18" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value19" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value20" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value21" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value22" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value23" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value24" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value25" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value26" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value27" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value28" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value29" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value30" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Value31" type="s:string"/>
</s:sequence>
</s:complexType>

<s:simpleType name="LineTypes">

<s:restriction base="s:string">
<s:enumeration value="Header"/>
<s:enumeration value="Line"/>
</s:restriction>
</s:simpleType>

<s:element name="GetHistoricalCrossRateTable">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRateTableResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRateTableResult" type="tns:CrossRateTable"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRateTableBidAsk">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRateTableBidAskResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRateTableBidAskResult" type="tns:CrossRateTableWithBidAsk"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetRealTimeCrossRateTable">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetRealTimeCrossRateTableResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetRealTimeCrossRateTableResult" type="tns:CrossRateTable"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetRealTimeCrossRateTableWithBidAsk">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetRealTimeCrossRateTableWithBidAskResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetRealTimeCrossRateTableWithBidAskResult" type="tns:CrossRateTableWithBidAsk"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetAllCrossRatesForACurrency">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetAllCrossRatesForACurrencyResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetAllCrossRatesForACurrencyResult" type="tns:CrossRateTableLineWithBidAsk"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetRealTimeCrossRateTableAsHTML">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColumnHeaderStyle" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="LineHeaderStyle" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CellStyle" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetRealTimeCrossRateTableAsHTMLResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetRealTimeCrossRateTableAsHTMLResult" type="tns:HTMLCrossRateTable"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="HTMLCrossRateTable">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="HTML" type="s:string"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:element name="GetSimpleRealTimeCrossRateTableAsHTML">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColumnHeaderStyle" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="LineHeaderStyle" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CellStyle" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetSimpleRealTimeCrossRateTableAsHTMLResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetSimpleRealTimeCrossRateTableAsHTMLResult" type="tns:HTMLCrossRateTable"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRateTableAsHTML">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColumnHeaderStyle" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="LineHeaderStyle" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CellStyle" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRateTableAsHTMLResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRateTableAsHTMLResult" type="tns:HTMLCrossRateTable"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRate">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRateResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRateResult" type="tns:HistoricalCrossRate"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="HistoricalCrossRate">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:QuoteTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="First" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="High" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Low" type="s:double"/>
<s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:element name="GetHistoricalCrossRates">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRatesResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRatesResult" type="tns:ArrayOfHistoricalCrossRate"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="ArrayOfHistoricalCrossRate">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="HistoricalCrossRate" nillable="true" type="tns:HistoricalCrossRate"/>
</s:sequence>
</s:complexType>

<s:element name="GetHistoricalCrossRateBidAsk">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRateBidAskResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRateBidAskResult" type="tns:FullHistoricalCrossRate"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="FullHistoricalCrossRate">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:QuoteTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="First" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="High" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Low" type="s:double"/>
<s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Bid" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Ask" type="s:double"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:element name="GetHistoricalCrossRatesBidAsk">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRatesBidAskResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRatesBidAskResult" type="tns:ArrayOfFullHistoricalCrossRate"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="ArrayOfFullHistoricalCrossRate">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="FullHistoricalCrossRate" nillable="true" type="tns:FullHistoricalCrossRate"/>
</s:sequence>
</s:complexType>

<s:element name="GetHistoricalCrossRatesRange">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRatesRangeResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRatesRangeResult" type="tns:HistoricalCrossRates"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="HistoricalCrossRates">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CrossRates" type="tns:ArrayOfCrossRateItem"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:complexType name="ArrayOfCrossRateItem">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CrossRateItem" nillable="true" type="tns:CrossRateItem"/>
</s:sequence>
</s:complexType>

<s:complexType name="CrossRateItem">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="First" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="High" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Low" type="s:double"/>
</s:sequence>
</s:complexType>

<s:element name="GetHistoricalCrossRatesBidAskRange">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRatesBidAskRangeResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRatesBidAskRangeResult" type="tns:FullHistoricalCrossRates"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="FullHistoricalCrossRates">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CrossRates" type="tns:ArrayOfFullCrossRateItem"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:complexType name="ArrayOfFullCrossRateItem">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="FullCrossRateItem" nillable="true" type="tns:FullCrossRateItem"/>
</s:sequence>
</s:complexType>

<s:complexType name="FullCrossRateItem">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="First" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="High" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Low" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Bid" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Ask" type="s:double"/>
</s:sequence>
</s:complexType>

<s:element name="GetHistoricalCrossRatesAsOf">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
<s:element minOccurs="1" maxOccurs="1" name="PeriodType" type="tns:PeriodTypes"/>
<s:element minOccurs="1" maxOccurs="1" name="Periods" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>

<s:simpleType name="PeriodTypes">

<s:restriction base="s:string">
<s:enumeration value="Day"/>
<s:enumeration value="Week"/>
<s:enumeration value="Month"/>
<s:enumeration value="Quarter"/>
<s:enumeration value="Year"/>
</s:restriction>
</s:simpleType>

<s:element name="GetHistoricalCrossRatesAsOfResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRatesAsOfResult" type="tns:HistoricalCrossRates"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRatesBidAskAsOf">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
<s:element minOccurs="1" maxOccurs="1" name="PeriodType" type="tns:PeriodTypes"/>
<s:element minOccurs="1" maxOccurs="1" name="Periods" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalCrossRatesBidAskAsOfResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalCrossRatesBidAskAsOfResult" type="tns:FullHistoricalCrossRates"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetOfficialCrossRate">

<s:complexType>

<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="CountryType" type="tns:CountryTypes"/>
<s:element minOccurs="1" maxOccurs="1" name="Symbol" type="tns:Currencies"/>
<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:simpleType name="CountryTypes">

<s:restriction base="s:string">
<s:enumeration value="Mexico"/>
<s:enumeration value="UnitedStatesAM"/>
<s:enumeration value="UnitedStatesPM"/>
<s:enumeration value="Canada"/>
</s:restriction>
</s:simpleType>

<s:element name="GetOfficialCrossRateResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetOfficialCrossRateResult" type="tns:HistoricalCrossRate"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetMutipleHistoricalCrossRates">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetMutipleHistoricalCrossRatesResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetMutipleHistoricalCrossRatesResult" type="tns:MultipleHistoricalCrossRates"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="MultipleHistoricalCrossRates">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="HistoricalCrossRates" type="tns:ArrayOfFullHistoricalCrossRate"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:element name="GetAverageHistoricalCrossRate">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetAverageHistoricalCrossRateResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetAverageHistoricalCrossRateResult" type="tns:AverageHistoricalCrossRate"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="AverageHistoricalCrossRate">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:QuoteTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="First" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="High" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Low" type="s:double"/>
<s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Bid" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Ask" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Average" type="s:double"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:element name="GetHistoricalMonthlyCrossRatesRange">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetHistoricalMonthlyCrossRatesRangeResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalMonthlyCrossRatesRangeResult" type="tns:FullHistoricalCrossRates"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetCrossRateChange">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetCrossRateChangeResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetCrossRateChangeResult" type="tns:CrossRateChange"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="CrossRateChange">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:QuoteTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="To" type="tns:Currency"/>
<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Bid" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Ask" type="s:double"/>
<s:element minOccurs="0" maxOccurs="1" name="Changes" type="tns:ArrayOfChange"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:complexType name="ArrayOfChange">

<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="Change" nillable="true" type="tns:Change"/>
</s:sequence>
</s:complexType>

<s:complexType name="Change">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ChangeTypes"/>
<s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Change" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="PercentChange" type="s:double"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:simpleType name="ChangeTypes">

<s:restriction base="s:string">
<s:enumeration value="OneMonth"/>
<s:enumeration value="ThreeMonth"/>
<s:enumeration value="SixMonth"/>
</s:restriction>
</s:simpleType>

<s:element name="GetCurrencyChartCustom">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="PeriodType" type="tns:HistoricalPeriodTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Style" type="tns:StockChartStyles"/>
<s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Design" type="tns:ChartDesign"/>
</s:sequence>
</s:complexType>
</s:element>

<s:simpleType name="HistoricalPeriodTypes">

<s:restriction base="s:string">
<s:enumeration value="Daily"/>
</s:restriction>
</s:simpleType>

<s:simpleType name="StockChartStyles">

<s:restriction base="s:string">
<s:enumeration value="Line"/>
<s:enumeration value="Candle"/>
<s:enumeration value="Stick"/>
<s:enumeration value="Area"/>
<s:enumeration value="Percentage"/>
<s:enumeration value="LinePercentage"/>
<s:enumeration value="CandlePercentage"/>
<s:enumeration value="StickPercentage"/>
<s:enumeration value="AreaPercentage"/>
</s:restriction>
</s:simpleType>

<s:complexType name="ChartDesign">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Secure" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="TextTitle" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TextHeader" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TextFooter" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TextPriceLine" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TextVolumeBar" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TextHighest" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TextLowest" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TextOpen" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TextClose" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TextUp" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TextDown" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorBackground" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorBackWall" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorHighlight" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorPriceLine" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorVolumeBar" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorVolumeBarFill" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorHigh" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorConstant" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorLow" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorPoint" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorTitle" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorFooter" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorHeader" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorAxis" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorGrid" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorFonts" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorStripe" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorOpen" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorClose" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorVerticalGrid" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorHorizontalGrid" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorUp" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorDown" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorHighLowLine" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorCollection" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="GridHorizontalStyle" type="tns:LinePattern"/>
<s:element minOccurs="1" maxOccurs="1" name="GridVerticalStyle" type="tns:LinePattern"/>
<s:element minOccurs="1" maxOccurs="1" name="GridHorizontalWidth" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="GridVerticalWidth" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorFrame" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="FormatPriceLine" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="FormatVolume" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="FormatDate" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="GradeBackground" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="GradeBackwall" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="WaterMark" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="WaterMarkTopMargin" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="WaterMarkLeftMargin" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="WaterMarkTransparency" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="PointSize" type="s:float"/>
<s:element minOccurs="1" maxOccurs="1" name="StackVariationLabels" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowAxisLabelInLegend" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="LineWidth" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="SplitPercent" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowHigh" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowLow" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowOpen" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowClose" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowVolume" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowUpVariation" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowDownVariation" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowLegend" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="VariationYear" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="VolumeDivider" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="VolumeTextOffset" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="PriceTextOffset" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="FrameType" type="tns:ImageFrameType"/>
<s:element minOccurs="1" maxOccurs="1" name="Projection" type="tns:PredefinedProjection"/>
<s:element minOccurs="1" maxOccurs="1" name="MarginTop" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="MarginBottom" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="MarginLeft" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="MarginRight" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="FontFamily" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="FontSizeHeader" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="FontSizeFooter" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Height" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="Width" type="s:double"/>
<s:element minOccurs="1" maxOccurs="1" name="ZoomPercent" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="LegendBox" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorLegendBackground" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ColorLegendBorder" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="LegendVerticalPosition" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="LegendHorizontalPosition" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Reload" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowPriceChartLabels" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="TickPrecision" type="tns:TickPeriod"/>
<s:element minOccurs="1" maxOccurs="1" name="TickPeriods" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="WaterMarkHorizontalAlign" type="tns:HorizontalAlign"/>
<s:element minOccurs="1" maxOccurs="1" name="LightScheme" type="tns:LightScheme"/>
<s:element minOccurs="1" maxOccurs="1" name="FontSizeLegend" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="FontSizeAxes" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="FontSizeTitle" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="DaysForHourDisplay" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="DaysForDayDisplay" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="DaysForWeekDisplay" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="DaysForBiWeeklyDisplay" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="DaysForMonthDisplay" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="DaysForQuarterDisplay" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="DaysForSemiAnnualDisplay" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="DaysForAnnualDisplay" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="DaysForBiAnnualDisplay" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="DaysForPentaAnnualDisplay" type="s:int"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:simpleType name="LinePattern">

<s:restriction base="s:string">
<s:enumeration value="Solid"/>
<s:enumeration value="Dot"/>
<s:enumeration value="Dash"/>
<s:enumeration value="DashDot"/>
<s:enumeration value="DashDotDot"/>
</s:restriction>
</s:simpleType>

<s:simpleType name="ImageFrameType">

<s:restriction base="s:string">
<s:enumeration value="None"/>
<s:enumeration value="Colonial"/>
<s:enumeration value="Common"/>
<s:enumeration value="Embed"/>
<s:enumeration value="Emboss"/>
<s:enumeration value="FrameOpenRight"/>
<s:enumeration value="FrameOpenRL"/>
<s:enumeration value="OneBarGradient"/>
<s:enumeration value="RoundedUp"/>
<s:enumeration value="SlimRoundedShadowed"/>
</s:restriction>
</s:simpleType>

<s:simpleType name="PredefinedProjection">

<s:restriction base="s:string">
<s:enumeration value="Orthogonal"/>
<s:enumeration value="OrthogonalElevated"/>
<s:enumeration value="OrthogonalHorizontalLeft"/>
<s:enumeration value="OrthogonalHorizontalRight"/>
<s:enumeration value="OrthogonalHalf"/>
<s:enumeration value="OrthogonalHalfHorizontalLeft"/>
<s:enumeration value="OrthogonalHalfHorizontalRight"/>
<s:enumeration value="OrthogonalHalfRotated"/>
<s:enumeration value="OrthogonalHalfElevated"/>
<s:enumeration value="Perspective"/>
<s:enumeration value="PerspectiveHorizontalLeft"/>
<s:enumeration value="PerspectiveHorizontalRight"/>
<s:enumeration value="PerspectiveRotated"/>
<s:enumeration value="PerspectiveElevated"/>
<s:enumeration value="PerspectiveTilted"/>
</s:restriction>
</s:simpleType>

<s:simpleType name="TickPeriod">

<s:restriction base="s:string">
<s:enumeration value="Tick"/>
<s:enumeration value="Millisecond"/>
<s:enumeration value="Second"/>
<s:enumeration value="Minute"/>
<s:enumeration value="Hour"/>
<s:enumeration value="Day"/>
<s:enumeration value="Week"/>
<s:enumeration value="Month"/>
</s:restriction>
</s:simpleType>

<s:simpleType name="HorizontalAlign">

<s:restriction base="s:string">
<s:enumeration value="Right"/>
<s:enumeration value="Left"/>
<s:enumeration value="Center"/>
</s:restriction>
</s:simpleType>

<s:simpleType name="LightScheme">

<s:restriction base="s:string">
<s:enumeration value="NorthernLights"/>
<s:enumeration value="MetallicLustre"/>
<s:enumeration value="ShinyTopRight"/>
<s:enumeration value="ShinyFrontal"/>
<s:enumeration value="ShinyTopLeft"/>
<s:enumeration value="SoftTopRight"/>
<s:enumeration value="SoftFrontal"/>
<s:enumeration value="SoftTopLeft"/>
<s:enumeration value="None"/>
</s:restriction>
</s:simpleType>

<s:element name="GetCurrencyChartCustomResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetCurrencyChartCustomResult" type="tns:HistoricalChart"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="HistoricalChart">

<s:complexContent mixed="false">

<s:extension base="tns:StockChart">

<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="PeriodType" type="tns:HistoricalPeriodTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Style" type="tns:StockChartStyles"/>
<s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:complexType name="StockChart">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Design" type="tns:ChartDesign"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:element name="GetCurrencyChartCustomBinary">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="PeriodType" type="tns:HistoricalPeriodTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Style" type="tns:StockChartStyles"/>
<s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Design" type="tns:ChartDesign"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetCurrencyChartCustomBinaryResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetCurrencyChartCustomBinaryResult" type="tns:ChartBinary"/>
</s:sequence>
</s:complexType>
</s:element>

<s:complexType name="ChartBinary">

<s:complexContent mixed="false">

<s:extension base="tns:Common">

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ByteArray" type="s:base64Binary"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>

<s:element name="GetCurrencyChart">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="PeriodType" type="tns:HistoricalPeriodTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Style" type="tns:StockChartStyles"/>
<s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Preset" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetCurrencyChartResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetCurrencyChartResult" type="tns:HistoricalChart"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetCurrencyChartBinary">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="PeriodType" type="tns:HistoricalPeriodTypes"/>
<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Style" type="tns:StockChartStyles"/>
<s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Preset" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetCurrencyChartBinaryResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetCurrencyChartBinaryResult" type="tns:ChartBinary"/>
</s:sequence>
</s:complexType>
</s:element>

<s:element name="GetChartDesign">
<s:complexType/>
</s:element>

<s:element name="GetChartDesignResponse">

<s:complexType>

<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetChartDesignResult" type="tns:ChartDesign"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="CurrencyList" nillable="true" type="tns:CurrencyList"/>
<s:element name="ExchangeConversion" nillable="true" type="tns:ExchangeConversion"/>
<s:element name="ForwardRate" nillable="true" type="tns:ForwardRate"/>
<s:element name="CrossRate" nillable="true" type="tns:CrossRate"/>
<s:element name="ArrayOfCrossRate" nillable="true" type="tns:ArrayOfCrossRate"/>
<s:element name="ArrayOfCrossRateTable" nillable="true" type="tns:ArrayOfCrossRateTable"/>
<s:element name="ArrayOfCrossRateTableWithBidAsk" nillable="true" type="tns:ArrayOfCrossRateTableWithBidAsk"/>
<s:element name="Report" nillable="true" type="tns:Report"/>
<s:element name="CrossRateTable" nillable="true" type="tns:CrossRateTable"/>
<s:element name="CrossRateTableWithBidAsk" nillable="true" type="tns:CrossRateTableWithBidAsk"/>
<s:element name="CrossRateTableLineWithBidAsk" nillable="true" type="tns:CrossRateTableLineWithBidAsk"/>
<s:element name="HTMLCrossRateTable" nillable="true" type="tns:HTMLCrossRateTable"/>
<s:element name="HistoricalCrossRate" nillable="true" type="tns:HistoricalCrossRate"/>
<s:element name="ArrayOfHistoricalCrossRate" nillable="true" type="tns:ArrayOfHistoricalCrossRate"/>
<s:element name="FullHistoricalCrossRate" nillable="true" type="tns:FullHistoricalCrossRate"/>
<s:element name="ArrayOfFullHistoricalCrossRate" nillable="true" type="tns:ArrayOfFullHistoricalCrossRate"/>
<s:element name="HistoricalCrossRates" nillable="true" type="tns:HistoricalCrossRates"/>
<s:element name="FullHistoricalCrossRates" nillable="true" type="tns:FullHistoricalCrossRates"/>
<s:element name="MultipleHistoricalCrossRates" nillable="true" type="tns:MultipleHistoricalCrossRates"/>
<s:element name="AverageHistoricalCrossRate" nillable="true" type="tns:AverageHistoricalCrossRate"/>
<s:element name="CrossRateChange" nillable="true" type="tns:CrossRateChange"/>
<s:element name="HistoricalChart" nillable="true" type="tns:HistoricalChart"/>
<s:element name="ChartBinary" nillable="true" type="tns:ChartBinary"/>
<s:element name="ChartDesign" nillable="true" type="tns:ChartDesign"/>
</s:schema>
